[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "master"]
	path = public
	url = https://github.com/theorashid/theorashid.github.io.git
